<!DOCTYPE html>
<html>
  <head>
    <title>Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <span class="curtain"></span>
      <span class="icon btn">
        <svg
           viewBox="0 0 70.636673 138.21759"
           version="1.1"
           id="svg23898"
           sodipodi:docname="gitarre.svg"
           inkscape:version="1.1 (c4e8f9ed74, 2021-05-24)"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:svg="http://www.w3.org/2000/svg">
          <sodipodi:namedview
             id="namedview23900"
             pagecolor="#ffffff"
             bordercolor="#666666"
             borderopacity="1.0"
             inkscape:pageshadow="2"
             inkscape:pageopacity="0.0"
             inkscape:pagecheckerboard="0"
             inkscape:document-units="mm"
             showgrid="false"
             inkscape:object-paths="true"
             fit-margin-top="5"
             fit-margin-left="5"
             fit-margin-right="5"
             fit-margin-bottom="5"
             lock-margins="true"
             inkscape:zoom="0.58796296"
             inkscape:cx="136.91339"
             inkscape:cy="220.25197"
             inkscape:window-width="1920"
             inkscape:window-height="1021"
             inkscape:window-x="1920"
             inkscape:window-y="0"
             inkscape:window-maximized="1"
             inkscape:current-layer="layer1" />
          <defs
             id="defs23895" />
          <g
             inkscape:label="Layer 1"
             inkscape:groupmode="layer"
             id="layer1"
             transform="translate(-68.844144,-89.990671)">
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 111.48151,132.69618 c 0,0 -20.136142,-5.52239 -17.950073,22.34641"
               id="path24027" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 93.531435,155.04259 c -0.956953,5.68491 -3.899462,14.02271 -9.015014,21.33656 -3.673875,5.25264 -5.562624,10.87992 -7.994321,15.91891 0,0 -6.167468,13.87634 5.143989,23.56165 0,0 17.319545,7.38237 25.845601,-17.3259 0,0 1.68998,-8.66034 0.93678,-14.94958 -0.75321,-6.28924 -0.35586,-11.78586 4.51203,-19.04767 4.86789,-7.26181 6.85864,-6.88879 9.4538,-13.71256 2.59516,-6.82377 -4.17422,-16.61321 -10.93279,-18.12782"
               id="path24029"
               sodipodi:nodetypes="cscccsssc" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 89.741932,193.83838 c 0,0 25.745428,-91.33193 29.532008,-95.913819"
               id="path24619" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 94.48245,191.08476 c 0,0 19.86861,-80.15611 29.67346,-90.56962"
               id="path24621" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 96.056025,198.348 c 0,0 27.072255,-97.82351 33.056665,-102.357329"
               id="path24623" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798"
               cx="132.75174"
               cy="102.94849"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-3"
               cx="128.87189"
               cy="110.12021"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-6"
               cx="126.5693"
               cy="117.37285"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-7"
               cx="114.22594"
               cy="101.01357"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-5"
               cx="111.78976"
               cy="107.66771"
               rx="1.7290766"
               ry="1.4632527" />
            <ellipse
               style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               id="path24798-35"
               cx="109.73763"
               cy="112.67931"
               rx="1.7290766"
               ry="1.4632527" />
            <path
               style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
               d="m 116.09765,134.96705 c 0,0 9.93302,4.49312 12.15812,6.15097 0,0 5.25917,8.68685 -5.03284,23.58501 0,0 -6.74204,8.01303 -6.12571,14.74334 0.61633,6.7303 0.16684,31.49955 -17.06717,42.76189 0,0 -7.925734,-0.23778 -18.363961,-6.34855"
               id="path25121" />
          </g>
        </svg>
      </span>
    </nav>
    <div class="container">
    <%= yield %>
    </div>
    <footer class="footer">
      <span class="semi-circle-menu"></span>
      <span class="string"></span>
      <span class="string"></span>
      <span class="string"></span>
      <div class="footer-main">
         <a class="btn icon" href="<%= root_path %>">
            <svg
           viewBox="0 0 70.636673 138.21759"
           version="1.1"
           id="svg23898"
           sodipodi:docname="gitarre.svg"
           inkscape:version="1.1 (c4e8f9ed74, 2021-05-24)"
           xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
           xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
           xmlns="http://www.w3.org/2000/svg"
           xmlns:svg="http://www.w3.org/2000/svg">
             <sodipodi:namedview
                id="namedview23900"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageshadow="2"
                inkscape:pageopacity="0.0"
                inkscape:pagecheckerboard="0"
                inkscape:document-units="mm"
                showgrid="false"
                inkscape:object-paths="true"
                fit-margin-top="5"
                fit-margin-left="5"
                fit-margin-right="5"
                fit-margin-bottom="5"
                lock-margins="true"
                inkscape:zoom="0.58796296"
                inkscape:cx="136.91339"
                inkscape:cy="220.25197"
                inkscape:window-width="1920"
                inkscape:window-height="1021"
                inkscape:window-x="1920"
                inkscape:window-y="0"
                inkscape:window-maximized="1"
                inkscape:current-layer="layer1" />
             <defs
                id="defs23895" />
             <g
                inkscape:label="Layer 1"
                inkscape:groupmode="layer"
                id="layer1"
                transform="translate(-68.844144,-89.990671)">
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 111.48151,132.69618 c 0,0 -20.136142,-5.52239 -17.950073,22.34641"
                  id="path24027" />
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 93.531435,155.04259 c -0.956953,5.68491 -3.899462,14.02271 -9.015014,21.33656 -3.673875,5.25264 -5.562624,10.87992 -7.994321,15.91891 0,0 -6.167468,13.87634 5.143989,23.56165 0,0 17.319545,7.38237 25.845601,-17.3259 0,0 1.68998,-8.66034 0.93678,-14.94958 -0.75321,-6.28924 -0.35586,-11.78586 4.51203,-19.04767 4.86789,-7.26181 6.85864,-6.88879 9.4538,-13.71256 2.59516,-6.82377 -4.17422,-16.61321 -10.93279,-18.12782"
                  id="path24029"
                  sodipodi:nodetypes="cscccsssc" />
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 89.741932,193.83838 c 0,0 25.745428,-91.33193 29.532008,-95.913819"
                  id="path24619" />
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 94.48245,191.08476 c 0,0 19.86861,-80.15611 29.67346,-90.56962"
                  id="path24621" />
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 96.056025,198.348 c 0,0 27.072255,-97.82351 33.056665,-102.357329"
                  id="path24623" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798"
                  cx="132.75174"
                  cy="102.94849"
                  rx="1.7290766"
                  ry="1.4632527" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798-3"
                  cx="128.87189"
                  cy="110.12021"
                  rx="1.7290766"
                  ry="1.4632527" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798-6"
                  cx="126.5693"
                  cy="117.37285"
                  rx="1.7290766"
                  ry="1.4632527" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798-7"
                  cx="114.22594"
                  cy="101.01357"
                  rx="1.7290766"
                  ry="1.4632527" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798-5"
                  cx="111.78976"
                  cy="107.66771"
                  rx="1.7290766"
                  ry="1.4632527" />
               <ellipse
                  style="fill:#020101;fill-opacity:1;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path24798-35"
                  cx="109.73763"
                  cy="112.67931"
                  rx="1.7290766"
                  ry="1.4632527" />
               <path
                  style="fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  d="m 116.09765,134.96705 c 0,0 9.93302,4.49312 12.15812,6.15097 0,0 5.25917,8.68685 -5.03284,23.58501 0,0 -6.74204,8.01303 -6.12571,14.74334 0.61633,6.7303 0.16684,31.49955 -17.06717,42.76189 0,0 -7.925734,-0.23778 -18.363961,-6.34855"
                  id="path25121" />
             </g>
            </svg>
         </a>
         <div class="footer-list font-bold">
            <a clsss="btn" href="<%= about_path %>">About</a>
            <a clsss="btn" href="<%= schedule_path %>">Schedule</a>
            <a clsss="btn" href="<%= gallery_path %>">Gallery</a>
         </div>
         <div class="font-light-italic">contact@contact.com</div>
      </div>
    </footer>
  </body>
</html>