<!DOCTYPE html>
<html>
  <head>
    <title>Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar">
      <span class="curtain"></span>
      <%= link_to root_path, class: "icon btn" do %>
        <%= svg_icon("guitar-logo") %>
      <% end %>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
    <footer class="footer">
      <span class="semi-circle-menu"></span>
      <span class="string"></span>
      <span class="string"></span>
      <span class="string"></span>
      <div class="footer-main">
         <%= link_to root_path, class: "icon btn" do %>
            <%= svg_icon("guitar-logo") %>
         <% end %>
         <div class="footer-list font-bold">
            <a clsss="btn" href="<%= about_path %>">About</a>
            <a clsss="btn" href="<%= schedule_path %>">Schedule</a>
            <a clsss="btn" href="<%= gallery_path %>">Gallery</a>
         </div>
         <div class="font-light-italic">contact@contact.com</div>
      </div>
    </footer>
  </body>
</html>